html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1170px;
  font-family: sans-serif;
}

/*------------GLOBAL------------*/

.list-reset {
  margin: o;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1170px;
  margin: 0 auto;

}

h1, h2, h3, h4, h5, h6, p  {
  margin: 0;
}

.lagoona-section__title {
  margin-bottom: 20px;
  padding-left: 40px;
}

.lagoona-main {
  margin-bottom: 40px;
}

.lagoona-section:not(:last-child) {
  margin-bottom: 70px;
}




/*------------lagoona-header------------*/

.lagoona-header {
  margin-right: 70px;
  padding-top: 30px;
}

.lagoona-header__container  {
  flex-direction: column;
}

.lagoona-header__top  {
  justify-content: space-between;
  align-items: center;
}

.lagoona-header__left, .lagoona-header__right {
  align-items: center;
}

.lagoona-header__logo {
  flex-shrink: 0;
  margin-right: 40px;
}

.lagoona-header__account-link {
  display: inline-block;
  padding: 5px auto;
}

.lagoona-header__nav  {
  align-items: center;
  padding: 14px 45px;
}

.lagoona-header__nav-list {
  margin-right: 114px;
}

.lagoona-header__nav-item:not(:last-child) {
  margin-right: 45px;
}

.lagoona-header__nav-btn:not(:last-child) {
  margin-right: 40px;
}

/*------------section-exclusive------------*/

.section-exclusive__block {
  width: 573px;

}

.section-exclusive__block:not(:nth-child(2n)) {
  margin-right: 24px;
}

.section-exclusive__element {
  min-height: 258px;
  padding-top: 40px;
  padding-left: 45px;
  outline: 1px solid palevioletred;

}

.section-exclusive__element:not(:last-child)  {
  margin-bottom: 24px;
}

.section-exclusive__element-title {
  margin-bottom: 15px;
}

.section-exclusive__price {
  margin-bottom: 47px;
}

.section-exclusive__element_big {
  min-height: 540px;
  padding-top: 212px;
}

/*------------section-about------------*/

.section-about__text  {
  max-width: 888px;
}

/*------------section-services------------*/

.services-list  {
  flex-wrap: wrap;
}

.services-list__item  {
  width: 573px;
  min-height: 330px;
  margin-bottom: 23px;
  padding-top: 191px;
  padding-left: 45px;
  outline: 1px solid palevioletred;
}

.services-list__item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.section-services__element-title {
  margin-bottom: 10px;
}

/*------------section-advantages------------*/

.advantages-list  {
  flex-wrap: wrap;
}

.advantages-list__item  {
  width: 276px;
  margin-bottom: 22px;
  min-height: 276px;
  padding-top: 116px;
  padding-right: 42px;
  padding-left: 45px;
  padding-bottom: 32px;
  outline: 1px solid palevioletred;
}

.advantages-list__item:not(:nth-child(4n))  {
  margin-right: 22px;
}

/*------------section-placing------------*/

.placing-list {
  flex-wrap: wrap;
}

.placing-list__item {
  width: 374px;
  min-height: 440px;
  margin-bottom: 24px;
  outline: 1px solid palevioletred;
}

.placing-list__item:not(:nth-child(3n)) {
  margin-right: 24px;
}



.placing-content  {
  padding-top: 32px;
  padding-right: auto;
  padding-left: 45px;
}


.placing-content__price {
  margin-right: 57px;
}

.placing-hotel-name {
  margin-bottom: 16px;
}

.placing-city-name  {
  margin-bottom: 20px;
}

.section-placing__element_full  {
  /*padding-top: 373px;
  padding-left: 54px;
  padding-bottom: 27px;*/
  flex-direction: column;
  justify-content: flex-end;
}
